.Editor {
  width: 90%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  #box-out {
    overflow: scroll;
  }
  #box-out,
  .MdInput {
    width: 50%;
    height: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  #raw-md {
    display: none;
  }
}

@media (max-width: 816px) {
  .Editor {
    flex-direction: column;
    width: 100%;
    #box-out,
    .MdInput {
      height: 100%;
      width: 100%;
    }
  }
}

.hiddenCode {
  width: 100vw;
  .MdInput {
    display: none;
  }
  #box-out {
    width: 80%;
  }
}
